body{
    background: #F868E8;
    background: -moz-linear-gradient(left, #F868E8 0%, #2388CB 62%, #F868E8 100%);
    background: -webkit-linear-gradient(left, #F868E8 0%, #2388CB 62%, #F868E8 100%);
    background: linear-gradient(to right, #F868E8 0%, #2388CB 62%, #F868E8 100%);
    display: flex;
    justify-content: center;
    
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
        margin-top: 50px;
    height: 400px;
    width: 400px;
    background: rgba(240, 255, 255, 0.734) ;
    border-radius: 50px;
    /* background-image: url("../../../public/Colorful\ Infinite\ Logo\ Design\ \(500\ ×\ 400\ px\).png"); */
}

.logo-image{
       width: 150px;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.password-input{
    margin-top: 5px;
    border-radius: 5px;
}

.register-button{
    margin-top: 5px;
}

.user-input{
    border-radius: 5px;
}

