body {
    background: #F868E8;
    background: -moz-linear-gradient(left, #F868E8 0%, #2388CB 62%, #F868E8 100%);
    background: -webkit-linear-gradient(left, #F868E8 0%, #2388CB 62%, #F868E8 100%);
    background: linear-gradient(to right, #F868E8 0%, #2388CB 62%, #F868E8 100%);
}

main {
    color: white;
    padding: 1rem;
}

.app {
    padding: 1rem;
}

.app-container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 3%;
    min-height: 80vh;
    flex: 1;
}

.users-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    background: rgba(240, 255, 255, 0.772);
    color: black;
    min-width: 15vw;
    /* text-align: center; */
    /* margin-right: 75%;
    min-height: 80vh; */
    border: solid black 2px;
    border-radius: 1rem;
}
.users-container > h2 {
    text-align: center;
}
.chatbox-message-container {
    min-width: 70vw;
    margin-left: 1.5%;
}
.chatbox {
    background: rgba(240, 255, 255, 0.772);
    color: black;
    border: solid black 2px;
    border-radius: 1rem;
    min-height: 65vh;
    width: 65vw;
    text-align: center;
    margin-bottom: 2%;
    overflow-y: scroll;
}

/* .chatbox :: -webkit-scrollbar-track {
    background: #2388CB
} */

.message {
    background: rgb(240, 255, 255, 0.772);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(240, 255, 255, 0.772);
    color: black;
    /* margin-right: 75%;
    margin-left: 3%;
    margin-top: 3%;
    min-height: 80vh; */
    border: solid black 2px;
    border-radius: 1rem;
    min-height: 15vh;
    width: 65vw;
}
.horizontal-rule {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.235);
    /* margin-left: 2px;
    margin-right: 2px; */
    min-width: fit-content;
    height: 2px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.userName {
    margin-left: 15px;
}